extends ../layout

block content
  section#create-bicis
    .container
      .row.justify-content-md-center
        .col-lg-8
          a(href='/bicicletas') Volver
          br
          hr
          h1 Nueva bicicleta
          hr
          form(action='/bicicletas/create' method ='post')
            // Id
            .form-group.row.justify-content-center
              label.col-sm-2.col-form-label(for='id') Id
              .col-sm-8
                input#id.form-control(type='text' name='id')
                small#id.form-text.text-muted *Importante
            // Color
            .form-group.row.justify-content-center
              label.col-sm-2.col-form-label(for='color') Color
              .col-sm-8
                input#color.form-control(type='text' name='color')
            // Modelo
            .form-group.row.justify-content-center
              label.col-sm-2.col-form-label(for='modelo') Modelo
              .col-sm-8
                input#color.form-control(type='text' name='modelo')
            // Latitud
            .form-group.row.justify-content-center
              label.col-sm-2.col-form-label(for='lat') Latitud
              .col-sm-8
                input#lat.form-control(type='text' name='lat')
            // Longitud
            .form-group.row.justify-content-center
              label.col-sm-2.col-form-label(for='lng') Longitud
              .col-sm-8
                input#lng.form-control(type='text' name='lng')
            // Boton
            .form-group.row.justify-content-center
              .col-sm-6
                input.btn.btn-primary.btn-block(type='submit' value='Registrar')