/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* Fuente para formularios
body {
	font: 20px 'Lucida Grande', Helvetica, Arial, sans-serif;
} */

#main_map {
	height: 600px;
}
